extends layout

block content
  h1= title
  p Welcome to #{title}
  ol(id='taskList')
    each val in todos
      li
        span
          form(method='POST' action='/changeTask')
            input(type='hidden', name='id', value=val.id)
            input(type='text', name='task', value=val.task, required)
            if val.completed > 0
              span Completed
            else
              span Not Completed
            button(type='submit') Change Task
          
        form(method='POST' action='/delete')
          input(type='hidden', name='id', value=val.id)
          button(type='submit') Delete
        form(method='POST' action='/changeStatus')
          input(type='hidden', name='id', value=val.id)
          button(type='submit') Change Status

  hr
  h2 Add a new task
  form(id='addTask' method='POST' action='/create')
    span
      label(for='task') Task:
      input(type='text', name='task', id='task', required)
    button(type='submit') Create Task
